<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yixuanoct.whut_webapp_server.repository.UserRepository">
    <insert id="add" parameterType="top.yixuanoct.whut_webapp_server.pojo.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (name, password, email, birthday, avatar)
        VALUES (#{name}, #{password}, #{email}, #{birthday}, #{avatar})
    </insert>

    <update id="update" parameterType="top.yixuanoct.whut_webapp_server.pojo.User">
        UPDATE users
        SET name = #{name}, password = #{password}, email = #{email}, birthday = #{birthday}, avatar = #{avatar}
        WHERE id = #{id}
    </update>

    <select id="findByName" parameterType="string" resultType="top.yixuanoct.whut_webapp_server.pojo.User">
        SELECT id, name, password, email, birthday, avatar
        FROM users 
        WHERE name = #{name}
    </select>
</mapper>